* {
  background-color: rgb(23, 30, 30);
  font-family: monospace;
}

.move-protection {
  width: 300px;
}

.main {
  margin: 20px;
  padding: 20px;

  flex-direction: column;

}



.name{
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .1em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .5em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;

}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 80% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.projects-container  h1{
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .1em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.title-1 {
  color: aqua;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}


.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  width: 100%;
  height: auto;
  max-width: 200px;
  max-height: 200px;
  border-radius: 30%;
  padding: 7px;
  background-color: aqua;
  
}
.image-container h3 {
  margin-left: 20px;
  padding: 10px;
  background-color: rgb(48, 65, 65);
  border-radius: 20px;
  color: aqua;
  font-size: 1.5em;
}


.links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;

}

.links-container .button-container:hover {
  color: rgb(48, 65, 65);
  background-color: aqua;
}



.links-container h2 {
  color: aqua;
  font-size: 2em;

}









.message{
  color: aqua;
  background-color: rgb(48, 65, 65);
}


.projects-container h1 {
  margin-top: 40px;
  color: aqua;
  font-size: 2em;
}

.projects-container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1px;
  margin-bottom: 30px;
}

.project-heading h1{
  color: aqua;
  font-size: 2em;
  margin-top: 20px;
  margin-bottom: 20px;
}

.message-cont {
  padding: 10px;
  background-color: rgb(48, 65, 65);
  border-radius: 50px;
  justify-content: center;
  display: flex;
  margin-top: 20px;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 30px;
  background-color:  rgb(48, 65, 65);
  margin-top: 30px;
}

.about h3{
  color: aqua;
  letter-spacing: 0.1em;
  background-color:  rgb(48, 65, 65);
}

.connect-container {
  display: flex;
  justify-content: center;
  align-items: center;

}