.connect-text h1{
    color: var(--text-color);
}

.linkButton {
    background-color: var(--card-bg);
    color: var(--text-color);
    margin: 10px;
    border-radius: 20px;
    text-decoration: none;
    padding: 7px
}

.button-container img {
    width: 100%;
    height: auto;
    max-width: 25px;
    max-height: 25px;
    padding: 3px;
    background-color: var(--text-color);
    border-radius: 50px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: var(--card-bg);
    border-radius: 20px;
    margin: 10px;
}

.links-container .button-container:hover {
    color: var(--hover-text);
    background-color: var(--hover-color);
}

.links-container h2 {
    color: var(--text-color);
    font-size: 2em;
}

.button-container:hover {
    color: var(--hover-text);
    background-color: var(--hover-color);
}
