.project {
    color: aqua;
    font-size: 1em;
    margin-left: 20px;
    padding: 10px;
    background-color: rgb(48, 65, 65);
    border-radius: 20px;
    margin-top: 40px;

}

.card {

    margin: 15px;
    background-color:black;
    color: aqua;
    margin-bottom: 50px;
}

.card .header {
    background-color: aqua;
    font-weight: bolder;

}

.card .title {
    color : aqua;
    font-weight: bold;
    margin-bottom: 10px;
}

.card .text{
    color : aqua;
}

.card .body .button-cont {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
  background-color: rgb(48, 65, 65);
  border-radius: 20px;
}

.card .body .link {
    background-color: rgb(48, 65, 65);
    color: aqua;
  
    margin: 10px;
    border-radius: 4px;
  
    text-decoration: none;
    padding: 5px;
    border-radius: 10px;
  }

.card .body .button-cont:hover {
    color: rgb(48, 65, 65);
    background-color: aqua;
  }

.project h2 {
    color: aqua;
    font-size: 1.5em;
    margin-left: 20px;
    background-color: rgb(48, 65, 65);
    border-radius: 20px;
    margin-bottom: 40px;
}

.project a {
    color: aqua;
    font-size: 1em;
    margin-left: 10px;
    padding: 10px;
    background-color: rgb(97, 133, 133);
    border-radius: 20px;
    text-decoration: none;
}

.project a:hover {
    color: rgb(48, 65, 65);
    background-color: aqua;
}   

.project p {
    color: aqua;
    font-size: 1em;
    margin-left: 10px;
    padding: 10px;
    background-color: rgb(48, 65, 65);
    border-radius: 20px;
    margin-top: 30px;
}